<h1>Bienvenue sur le comparateur</h1>

<h2>Resultat en maïs></h2>

<p>Moisson en cours...</p>

<h2>Résultat en orge</h2>


<img src="https://static.wixstatic.com/media/dd4d9e
_7855f2d0922e4f4ea6168bfd51f8606c~mv2.png/v1/fill/w_581,h_359,al_c,q_
80/dd4d9e_7855f2d0922e4f4ea6168bfd51f8606c~mv2.webp" alt="diagram" />

<img src="https://static.wixstatic.com/media/dd4d9e
_7161fb4f4e674e06aedee52502270d15~mv2.png/v1/fill/w_600,h_371,al_c,q_
80,usm_0.66_1.00_0.01/dd4d9e_7161fb4f4e674e06aedee52502270d15~mv2.webp" alt="average">


<img src="https://static.wixstatic.com/media/dd4d9e
_72a8f0c4e13b45b880bbe0ce7b9dbf52~mv2.png/v1/fill/w_720,h_1279,al_c,q_
85/dd4d9e_72a8f0c4e13b45b880bbe0ce7b9dbf52~mv2.webp" alt="data">

<h2>Résults en colza</h2>

<img src="https://static.wixstatic.com/media/dd4d9e
_72a4af8e98164db3abfa86e45edfb8e5~mv2.png/v1/fill/w_600,h_371,al_c,q_
80/R%C3%A9partition_des_rendements_en_colza_(_en.webp" alt="coloreddiagram">

<img src ="https://static.wixstatic.com/media/dd4d9e
_183cdf4ae01d4816ba2e57d693127264~mv2.png/v1/fill/w_600,h_371,al_c,q_
80/Comparaison%20Colza%20avec%20la%20moyenne%205%20ans%20.webp" alt="diagramcolor">

<h2>Résultat en blé</h2>

<img src="https://static.wixstatic.com/media/dd4d9e
_20d4b9ca09ba4c6e97a4bd204e76c431~mv2.png/v1/fill/w_600,h_371,al_c,q_
80/R%C3%A9partition_des_rendements_en_bl%C3%A9_(_en_q.webp" alt="wheatdata">

<img src="https://static.wixstatic.com/media/dd4d9e
_07d7d8d930c74d509d8af01df022e2d7~mv2.png/v1/fill/w_600,h_371,al_c,q_
80/Comparaison_bl%C3%A9_avec_la_moyenne_5_ans__p.webp" alt="wheataverage">

