<div class="Formulaire col-sm-12">

  <h1>PARTAGEZ VOS RÉSULTATS</h1>
  <h2>Participez à la carte de la moisson en vous inscrivant ci-dessous.</h2>
  <div class="Obligatoire">*Obligatoire</div>

  <form>
    <div class="form-group row">
      <label id="title" for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm">
        CODE POSTAL (EX: 28000) <span class="Obligatoire">*</span></label>
      <div class="col-sm-12">
        <input id="reponse" type="email" class="form-control form-control-sm" 
        id="reponse" placeholder="Votre réponse">
      </div>
    </div>
  </form>

  <form>
    <div class="form-group row">
      <label id="title" for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm">
        COMMUNE (EX: CHATEAUDUN) <span class="Obligatoire">*</span></label>
      <div class="col-sm-12">
        <input id="reponse" type="email" class="form-control form-control-sm" 
        id="reponse" placeholder="Votre réponse">
      </div>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label id="title" for="exampleFormControlSelect1">CULTURE <span class="Obligatoire">*</span></label>
      <select class="form-control" id="Selectionner">
        <option>Sélectionner</option>
        <option>Maïs</option>
        <option>Tournesol</option>
      </select>
    </div>
  </form>

  <form>
    <div class="form-group row">
      <label id="title" for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm">
        VARIÉTÉ</label>
      <div class="col-sm-12">
        <input id="reponse" type="email" class="form-control form-control-sm" 
        id="reponse" placeholder="Votre réponse">
      </div>
    </div>
  </form>

  <form>
    <div class="form-group row">
      <label id="title" for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm">
        RENDEMENT EN QUINTAUX <span class="Obligatoire">*</span></label>
      <div class="col-sm-12">
        <input id="reponse" type="email" class="form-control form-control-sm" 
        id="reponse" placeholder="Votre réponse">
      </div>
    </div>
  </form>

  <form>
    <div class="form-group row">
      <label id="title" for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm">
        HUMIDITÉ <span class="Obligatoire">*</span></label>
      <div class="col-sm-12">
        <input id="reponse" type="email" class="form-control form-control-sm" 
        id="reponse" placeholder="Votre réponse">
      </div>
    </div>
  </form>

  <p id="title">MAÏS IRRIGUÉ ? <span class="Obligatoire">*</span></p>
<label class="container">Oui
  <input type="radio" checked="checked" name="radio">
  <span class="checkmark"></span>
</label>
<label class="container">Non
  <input type="radio" name="radio">
  <span class="checkmark"></span>
</label>
<br>

  <form>
    <div class="form-group">
      <label id="title" for="exampleFormControlSelect1">RÉSULTATS PAR
        RAPPORT A LA MOYENNE DES 5 DERNIÈRES ANNÉES <span class="Obligatoire">*</span>
      </label>
      <select class="form-control" id="Selectionner">
        <option>Sélectionner</option>
        <option>Nettement inférieur à la moyenne</option>
        <option>Inférieur à la moyenne</option>
        <option>Moyen</option>
        <option>Supérieur à la moyenne</option>
        <option>Nettement supérieur à la moyenne</option>
      </select>
    </div>
  </form>



  <form>
    <div class="form-group row">
      <label id="title" for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm">
        QUANTITÉ D'AZOTE APPORTÉE ?(EN UNITÉS) <span class="Obligatoire">*</span></label>
      <div class="col-sm-12">
        <input id="reponse" type="email" class="form-control form-control-sm" 
        id="reponse" placeholder="Votre réponse">
      </div>
    </div>
  </form>
  <p id="title">SOUS QUELLE FORME ? <span class="Obligatoire">*</span></p>
<label class="container">Solution Azotée
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
<label class="container">Ammonitrate
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Urée 46
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Autres
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
  <br>

  <form>
    <div class="form-group">
      <label id="title" for="exampleFormControlSelect1">TECHNIQUE CULTURALE <span class="Obligatoire">*</span>
      </label>
      <select class="form-control" id="Selectionner">
        <option id="selectionner">Sélectionner</option>
        <option>Conventionnelle</option>
        <option>TCS</option>
        <option>Agriculture biologique</option>
      </select>
    </div>
  </form>

  <form>
    <div class="form-group row">
      <label id="title" for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm">
        UN COMMENTAIRE, INFOS SUPPLÉMENTAIRES ?</label>
      <div class="col-sm-12">
        <input id="reponse" type="email" class="form-control form-control-sm" 
        id="reponse" placeholder="Votre réponse">
      </div>
    </div>
  </form>

  <form>
    <div class="form-group row">
      <label id="title" for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm">
        VOTRE EMAIL <span class="Obligatoire">*</span></label>
      <div class="col-sm-12">
        <input id="reponse" type="email" class="form-control form-control-sm" 
        id="reponse" placeholder="Votre réponse">
      </div>
    </div>
  </form>

  <form>
    <div class="form-group row">
      <label id="title" for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm">
        VOTRE N° DE TÉLÉPHONE MOBILE</label>
      <div class="col-sm-12">
        <input id="reponse" type="email" class="form-control form-control-sm" 
        id="reponse" placeholder="Votre réponse">
      </div>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label id="title" for="exampleFormControlSelect1">
        QUEL EST VOTRE PRIX OBJECTIF DE VENTE EN MAÏS ?</label>
      <select class="form-control" id="Selectionner">
        <option id="selectionner">Sélectionner</option>
        <option>150</option>
        <option>160</option>
        <option>170</option>
        <option>180</option>
        <option>190</option>
        <option>200</option>
        <option>210</option>
        <option>220</option>
      </select>
    </div>
  </form>

  <form>
    <div class="form-group">
      <label id="title" for="exampleFormControlSelect1">
        QUEL EST VOTRE PRIX OBJECTIF DE VENTE EN TOURNESOL ?</label>
      <select class="form-control" id="Selectionner">
        <option>Sélectionner</option>
        <option>270</option>
        <option>280</option>
        <option>290</option>
        <option>300</option>
        <option>310</option>
        <option>320</option>
        <option>330</option>
        <option>340</option>
        <option>350</option>
      </select>
    </div>
  </form>

  <form>
    <button class="btn"type="submit" class="btn btn-primary">Envoyer</button>
  </form>
</div>
